:root {
  --blue: #686de0;
  --violet: #6f68e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  padding: 2rem 5rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.header {
  letter-spacing: 2px;
  color: gray;
}

.joke {
  font-size: 2rem;
  text-align: center;
}

.button {
  background-color: var(--violet);
  padding: 1rem;
  color: white;
  border-radius: 0.375rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}