* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  background-color: white;
  padding: 1rem;
  border: 1px solid black;
  font-size: 1.5rem;
}

.details {
  display: flex;
  gap: 2rem;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item p {
  color: rgb(0, 0, 0, 0.5);
}

.item div {
  width: 12rem;
  height: 5rem;
  background-color: white;
  border: 1px solid rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.hidden {
  display: none;
}